<!--
  Generated template for the MlouvorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Ministério de Louvor</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>



  <div padding>
    <ion-segment [(ngModel)]="ministeriodelouvor">
      <ion-segment-button value="noticias">
        Nóticias
      </ion-segment-button>
      <ion-segment-button value="equipe">
        Equipe
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="ministeriodelouvor">
    <ion-list *ngSwitchCase="'noticias'">
      <ion-card *ngFor="let noticia of lista_mnoticias">
        <ion-card-header>
          {{noticia.titulo}}
        </ion-card-header>
        <ion-card-content>
          {{noticia.descricao}}
        </ion-card-content>
        <ion-card-content>
          {{noticia.data}} - {{noticia.horas}}hrs
        </ion-card-content>
      </ion-card>
    </ion-list>

    <ion-list *ngSwitchCase="'equipe'" class="equipe">
      <ion-item *ngFor="let dados of lista_membros" (click)="membrosModal(dados)">
        <ion-thumbnail item-start>
          <img [src]="'assets/imgs/' + dados.avatar">
        </ion-thumbnail>
        <h2>{{dados.nome}}</h2>
        <p>{{dados.funcao}}</p>
      </ion-item>
    </ion-list>





  </div>
</ion-content>