<!--
  Generated template for the MmembrosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar>
    <a ion-button clear (click)="dismiss()">Voltar</a>
    <ion-title>{{membro.nome}}</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content class="membroscontent">
  <section>
    <img [src]="'assets/imgs/' + membro.avatar">
  </section>
  <ion-content padding>
    <h1>{{membro.nome}}</h1>
    <p>{{membro.descricao}}</p>
  </ion-content>
</ion-content>
