page-mmembros {
    ion-content.membroscontent{
        // background-image: url('../assets/imgs/edson.jpeg');
        // background-size: cover;
    };
    ion-content.membroscontent div ion-content{
        background-color:rgba(255,255,255,0.9);
        height: calc(100% - 250px);
        margin-top: 251px;
    }
    ion-content.membroscontent section{
        height: 100%;
        position: fixed
    };
    ion-content.membroscontent section img{
        max-width: none;
        max-height: 100%;
    }
}
